<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>is it prime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>302957E31E5E6E7F008CFDDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>302957F71E5E6E80008CFDDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>302958021E5E6E80008CFDDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
